Trade date,Settlement date,Investment type,Security,Description,Transaction type,Units,Net amount $
30/06/2022,30/06/2022,Cash Management Account,,Interest payment for Cash Management Account,Income,,0.25
24/06/2022,28/06/2022,Managed fund,MAQ0277AU - Macquarie Income Opportunities Fund,Regular Investment Buy 770.9130 Macquarie Income Opportunities Fund (MAQ0277AU) @ $0.91. Transaction fee $0.00.,Buy,770.913,
23/06/2022,24/06/2022,Managed fund,OPS0002AU - OC Premium Small Companies Fund,Regular Investment Buy 174.0096 OC Premium Small Companies Fund (OPS0002AU) @ $3.24. Transaction fee $0.00.,Buy,174.0096,
23/06/2022,24/06/2022,Managed fund,ETL0398AU - T. Rowe Price Dynamic Global Bond Fund,"Regular Investment Buy 1,056.8724 T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) @ $1.07. Transaction fee $0.00.",Buy,1056.8724,
23/06/2022,24/06/2022,Managed fund,ETL0071AU - T. Rowe Price Global Equity Fund,Regular Investment Buy 908.5702 T. Rowe Price Global Equity Fund (ETL0071AU) @ $1.40. Transaction fee $0.00.,Buy,908.5702,
23/06/2022,24/06/2022,Managed fund,VAN0019AU - Vanguard International Property Securities Index Fund Hedged,Regular Investment Buy 937.7494 Vanguard International Property Securities In (VAN0019AU) @ $0.75. Transaction fee $0.00.,Buy,937.7494,
23/06/2022,24/06/2022,Managed fund,VAN0001AU - Vanguard Australian Fixed Interest Index,Regular Investment Buy 349.875925 Vanguard Australian Fixed Interest Index (VAN0001AU) @ $1.01. Transaction fee $0.00.,Buy,349.875925,
23/06/2022,24/06/2022,Managed fund,AAP0008AU - Ausbil 130/30 Focus Fund,Regular Investment Buy 299.8177 Ausbil 130/30 Focus Fund (AAP0008AU) @ $1.88. Transaction fee $0.00.,Buy,299.8177,
23/06/2022,24/06/2022,Managed fund,VAN0005AU - Vanguard Emerging Markets Shares Index Fund,Regular Investment Buy 569.1234 Vanguard Emerging Markets Shares Index Fund (VAN0005AU) @ $1.98. Transaction fee $0.00.,Buy,569.1234,
23/06/2022,24/06/2022,Managed fund,VAN0103AU - Vanguard International Fixed Interest Fund (Hedged),Regular Investment Buy 364.4917 Vanguard International Fixed Interest Fund (H (VAN0103AU) @ $0.97. Transaction fee $0.00.,Buy,364.4917,
23/06/2022,24/06/2022,Managed fund,VAN0002AU - Vanguard Australian Shares Index Fund,Regular Investment Buy 486.395574 Vanguard Australian Shares Index Fund (VAN0002AU) @ $2.32. Transaction fee $0.00.,Buy,486.395574,
23/06/2022,24/06/2022,Managed fund,VAN0003AU - Vanguard International Share Index Fund,"Regular Investment Buy 1,221.644604 Vanguard International Share Index Fund (VAN0003AU) @ $2.54. Transaction fee $0.00.",Buy,1221.644604,
23/06/2022,24/06/2022,Managed fund,ACM0009AU - AB Global Equities Fund,Regular Investment Buy 537.5524 AB Global Equities Fund (ACM0009AU) @ $1.57. Transaction fee $0.00.,Buy,537.5524,
23/06/2022,23/06/2022,Managed fund,MGE0002AU - Magellan Infrastructure Fund,Regular Investment Buy 528.6442 Magellan Infrastructure Fund (MGE0002AU) @ $1.33. Transaction fee $0.00.,Buy,528.6442,
23/06/2022,23/06/2022,Managed fund,MGE0001AU - Magellan Global Fund,Regular Investment Buy 546.5822456 Magellan Global Fund (MGE0001AU) @ $2.32. Transaction fee $0.00.,Buy,546.5822456,
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy Vanguard International Share Index Fund (VAN0003AU) for $3,102.00.Transaction fee $0.00.",Buy,,-3102
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Vanguard International Property Securities In (VAN0019AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Vanguard International Fixed Interest Fund (H (VAN0103AU) for $352.50.Transaction fee $0.00.,Buy,,-352.5
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy Vanguard Emerging Markets Shares Index Fund (VAN0005AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy Vanguard Australian Shares Index Fund (VAN0002AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Vanguard Australian Fixed Interest Index (VAN0001AU) for $352.50.Transaction fee $0.00.,Buy,,-352.5
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy T. Rowe Price Global Equity Fund (ETL0071AU) for $1,269.00.Transaction fee $0.00.",Buy,,-1269
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy OC Premium Small Companies Fund (OPS0002AU) for $564.00.Transaction fee $0.00.,Buy,,-564
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Magellan Infrastructure Fund (MGE0002AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/06/2022,23/06/2022,Cash Management Account,,"Regular Investment Buy Magellan Global Fund (MGE0001AU) for $1,269.00.Transaction fee $0.00.",Buy,,-1269
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Macquarie Income Opportunities Fund (MAQ0277AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy Ausbil 130/30 Focus Fund (AAP0008AU) for $564.00.Transaction fee $0.00.,Buy,,-564
23/06/2022,23/06/2022,Cash Management Account,,Regular Investment Buy AB Global Equities Fund (ACM0009AU) for $846.00.Transaction fee $0.00.,Buy,,-846
20/06/2022,20/06/2022,Cash Management Account,,Direct Debit Deposit - regular savings,Deposit,,14100
14/06/2022,16/06/2022,Managed fund,MAQ0277AU - Macquarie Income Opportunities Fund,Buy 4.8588 Macquarie Income Opportunities Fund (MAQ0277AU) @ $0.91. Transaction fee $0.00.,Buy,4.8588,
10/06/2022,10/06/2022,Cash Management Account,,Reinvest - Buy Macquarie Income Opportunities Fund (MAQ0277AU) for $4.44,Buy,,-4.44
03/06/2022,03/06/2022,Cash Management Account,,Administration fee for the period 02/05/2022 to 31/05/2022,Expense,,-58.21
31/05/2022,08/06/2022,Cash Management Account,MAQ0277AU - Macquarie Income Opportunities Fund,"Distribution 8,885.2814 Macquarie Income Opportunities Fund (MAQ0277AU) @ $0.0005",Income,,4.44
31/05/2022,31/05/2022,Cash Management Account,,Interest payment for Cash Management Account,Income,,0.37
24/05/2022,26/05/2022,Managed fund,MAQ0277AU - Macquarie Income Opportunities Fund,Regular Investment Buy 762.2445 Macquarie Income Opportunities Fund (MAQ0277AU) @ $0.92. Transaction fee $0.00.,Buy,762.2445,
23/05/2022,24/05/2022,Managed fund,VAN0103AU - Vanguard International Fixed Interest Fund (Hedged),Regular Investment Buy 357.4325 Vanguard International Fixed Interest Fund (H (VAN0103AU) @ $0.99. Transaction fee $0.00.,Buy,357.4325,
23/05/2022,24/05/2022,Managed fund,OPS0002AU - OC Premium Small Companies Fund,Regular Investment Buy 153.2483 OC Premium Small Companies Fund (OPS0002AU) @ $3.68. Transaction fee $0.00.,Buy,153.2483,
23/05/2022,24/05/2022,Managed fund,AAP0008AU - Ausbil 130/30 Focus Fund,Regular Investment Buy 281.6538 Ausbil 130/30 Focus Fund (AAP0008AU) @ $2.00. Transaction fee $0.00.,Buy,281.6538,
23/05/2022,24/05/2022,Managed fund,ETL0398AU - T. Rowe Price Dynamic Global Bond Fund,"Regular Investment Buy 1,063.9501 T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) @ $1.06. Transaction fee $0.00.",Buy,1063.9501,
23/05/2022,24/05/2022,Managed fund,VAN0001AU - Vanguard Australian Fixed Interest Index,Regular Investment Buy 340.744347 Vanguard Australian Fixed Interest Index (VAN0001AU) @ $1.03. Transaction fee $0.00.,Buy,340.744347,
23/05/2022,24/05/2022,Managed fund,ETL0071AU - T. Rowe Price Global Equity Fund,Regular Investment Buy 898.4706 T. Rowe Price Global Equity Fund (ETL0071AU) @ $1.41. Transaction fee $0.00.,Buy,898.4706,
23/05/2022,24/05/2022,Managed fund,VAN0019AU - Vanguard International Property Securities Index Fund Hedged,Regular Investment Buy 880.2597 Vanguard International Property Securities In (VAN0019AU) @ $0.80. Transaction fee $0.00.,Buy,880.2597,
23/05/2022,24/05/2022,Managed fund,ACM0009AU - AB Global Equities Fund,Regular Investment Buy 520.4232 AB Global Equities Fund (ACM0009AU) @ $1.63. Transaction fee $0.00.,Buy,520.4232,
23/05/2022,24/05/2022,Managed fund,VAN0002AU - Vanguard Australian Shares Index Fund,Regular Investment Buy 443.117533 Vanguard Australian Shares Index Fund (VAN0002AU) @ $2.55. Transaction fee $0.00.,Buy,443.117533,
23/05/2022,24/05/2022,Managed fund,VAN0003AU - Vanguard International Share Index Fund,"Regular Investment Buy 1,186.051860 Vanguard International Share Index Fund (VAN0003AU) @ $2.62. Transaction fee $0.00.",Buy,1186.05186,
23/05/2022,24/05/2022,Managed fund,VAN0005AU - Vanguard Emerging Markets Shares Index Fund,Regular Investment Buy 565.0171 Vanguard Emerging Markets Shares Index Fund (VAN0005AU) @ $2.00. Transaction fee $0.00.,Buy,565.0171,
23/05/2022,23/05/2022,Managed fund,MGE0002AU - Magellan Infrastructure Fund,Regular Investment Buy 497.9868 Magellan Infrastructure Fund (MGE0002AU) @ $1.42. Transaction fee $0.00.,Buy,497.9868,
23/05/2022,23/05/2022,Managed fund,MGE0001AU - Magellan Global Fund,Regular Investment Buy 535.3752689 Magellan Global Fund (MGE0001AU) @ $2.37. Transaction fee $0.00.,Buy,535.3752689,
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy Vanguard International Share Index Fund (VAN0003AU) for $3,102.00.Transaction fee $0.00.",Buy,,-3102
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Vanguard International Property Securities In (VAN0019AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Vanguard International Fixed Interest Fund (H (VAN0103AU) for $352.50.Transaction fee $0.00.,Buy,,-352.5
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy Vanguard Emerging Markets Shares Index Fund (VAN0005AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy Vanguard Australian Shares Index Fund (VAN0002AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Vanguard Australian Fixed Interest Index (VAN0001AU) for $352.50.Transaction fee $0.00.,Buy,,-352.5
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy T. Rowe Price Global Equity Fund (ETL0071AU) for $1,269.00.Transaction fee $0.00.",Buy,,-1269
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) for $1,128.00.Transaction fee $0.00.",Buy,,-1128
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy OC Premium Small Companies Fund (OPS0002AU) for $564.00.Transaction fee $0.00.,Buy,,-564
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Magellan Infrastructure Fund (MGE0002AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/05/2022,23/05/2022,Cash Management Account,,"Regular Investment Buy Magellan Global Fund (MGE0001AU) for $1,269.00.Transaction fee $0.00.",Buy,,-1269
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Macquarie Income Opportunities Fund (MAQ0277AU) for $705.00.Transaction fee $0.00.,Buy,,-705
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy Ausbil 130/30 Focus Fund (AAP0008AU) for $564.00.Transaction fee $0.00.,Buy,,-564
23/05/2022,23/05/2022,Cash Management Account,,Regular Investment Buy AB Global Equities Fund (ACM0009AU) for $846.00.Transaction fee $0.00.,Buy,,-846
19/05/2022,19/05/2022,Cash Management Account,,Direct Debit Deposit - regular savings,Deposit,,14100
11/05/2022,13/05/2022,Managed fund,MAQ0277AU - Macquarie Income Opportunities Fund,"Buy 8,123.0369 Macquarie Income Opportunities Fund (MAQ0277AU) @ $0.92. Transaction fee $0.00.",Buy,8123.0369,
10/05/2022,11/05/2022,Managed fund,ETL0071AU - T. Rowe Price Global Equity Fund,"Buy 9,545.3584 T. Rowe Price Global Equity Fund (ETL0071AU) @ $1.41. Transaction fee $0.00.",Buy,9545.3584,
10/05/2022,11/05/2022,Managed fund,VAN0103AU - Vanguard International Fixed Interest Fund (Hedged),"Buy 3,812.5256 Vanguard International Fixed Interest Fund (H (VAN0103AU) @ $0.98. Transaction fee $0.00.",Buy,3812.5256,
10/05/2022,11/05/2022,Managed fund,ETL0398AU - T. Rowe Price Dynamic Global Bond Fund,"Buy 11,366.8656 T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) @ $1.06. Transaction fee $0.00.",Buy,11366.8656,
10/05/2022,11/05/2022,Managed fund,VAN0001AU - Vanguard Australian Fixed Interest Index,"Buy 3,670.712625 Vanguard Australian Fixed Interest Index (VAN0001AU) @ $1.02. Transaction fee $0.00.",Buy,3670.712625,
10/05/2022,11/05/2022,Managed fund,VAN0019AU - Vanguard International Property Securities Index Fund Hedged,"Buy 9,572.4310 Vanguard International Property Securities In (VAN0019AU) @ $0.78. Transaction fee $0.00.",Buy,9572.431,
10/05/2022,11/05/2022,Managed fund,OPS0002AU - OC Premium Small Companies Fund,"Buy 1,664.6783 OC Premium Small Companies Fund (OPS0002AU) @ $3.60. Transaction fee $0.00.",Buy,1664.6783,
10/05/2022,11/05/2022,Managed fund,ACM0009AU - AB Global Equities Fund,"Buy 5,555.8984 AB Global Equities Fund (ACM0009AU) @ $1.62. Transaction fee $0.00.",Buy,5555.8984,
10/05/2022,11/05/2022,Managed fund,VAN0003AU - Vanguard International Share Index Fund,"Buy 12,465.060078 Vanguard International Share Index Fund (VAN0003AU) @ $2.65. Transaction fee $0.00.",Buy,12465.060078,
10/05/2022,11/05/2022,Managed fund,VAN0005AU - Vanguard Emerging Markets Shares Index Fund,"Buy 6,055.4066 Vanguard Emerging Markets Shares Index Fund (VAN0005AU) @ $1.98. Transaction fee $0.00.",Buy,6055.4066,
10/05/2022,11/05/2022,Managed fund,AAP0008AU - Ausbil 130/30 Focus Fund,"Buy 3,036.7508 Ausbil 130/30 Focus Fund (AAP0008AU) @ $1.98. Transaction fee $0.00.",Buy,3036.7508,
10/05/2022,11/05/2022,Managed fund,VAN0002AU - Vanguard Australian Shares Index Fund,"Buy 4,796.546511 Vanguard Australian Shares Index Fund (VAN0002AU) @ $2.50. Transaction fee $0.00.",Buy,4796.546511,
10/05/2022,10/05/2022,Managed fund,MGE0002AU - Magellan Infrastructure Fund,"Buy 5,448.6016 Magellan Infrastructure Fund (MGE0002AU) @ $1.38. Transaction fee $0.00.",Buy,5448.6016,
10/05/2022,10/05/2022,Managed fund,MGE0001AU - Magellan Global Fund,"Buy 5,620.3164010 Magellan Global Fund (MGE0001AU) @ $2.40. Transaction fee $0.00.",Buy,5620.316401,
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard International Share Index Fund (VAN0003AU) for $33,000.00.Transaction fee $0.00.",Buy,,-33000
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard International Property Securities In (VAN0019AU) for $7,500.00.Transaction fee $0.00.",Buy,,-7500
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard International Fixed Interest Fund (H (VAN0103AU) for $3,750.00.Transaction fee $0.00.",Buy,,-3750
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard Emerging Markets Shares Index Fund (VAN0005AU) for $12,000.00.Transaction fee $0.00.",Buy,,-12000
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard Australian Shares Index Fund (VAN0002AU) for $12,000.00.Transaction fee $0.00.",Buy,,-12000
10/05/2022,10/05/2022,Cash Management Account,,"Buy Vanguard Australian Fixed Interest Index (VAN0001AU) for $3,750.00.Transaction fee $0.00.",Buy,,-3750
10/05/2022,10/05/2022,Cash Management Account,,"Buy T. Rowe Price Global Equity Fund (ETL0071AU) for $13,500.00.Transaction fee $0.00.",Buy,,-13500
10/05/2022,10/05/2022,Cash Management Account,,"Buy T. Rowe Price Dynamic Global Bond Fund (ETL0398AU) for $12,000.00.Transaction fee $0.00.",Buy,,-12000
10/05/2022,10/05/2022,Cash Management Account,,"Buy Magellan Infrastructure Fund (MGE0002AU) for $7,500.00.Transaction fee $0.00.",Buy,,-7500
10/05/2022,10/05/2022,Cash Management Account,,"Buy Magellan Global Fund (MGE0001AU) for $13,500.00.Transaction fee $0.00.",Buy,,-13500
10/05/2022,10/05/2022,Cash Management Account,,"Buy Macquarie Income Opportunities Fund (MAQ0277AU) for $7,500.00.Transaction fee $0.00.",Buy,,-7500
10/05/2022,10/05/2022,Cash Management Account,,"Buy OC Premium Small Companies Fund (OPS0002AU) for $6,000.00.Transaction fee $0.00.",Buy,,-6000
10/05/2022,10/05/2022,Cash Management Account,,"Buy Ausbil 130/30 Focus Fund (AAP0008AU) for $6,000.00.Transaction fee $0.00.",Buy,,-6000
10/05/2022,10/05/2022,Cash Management Account,,"Buy AB Global Equities Fund (ACM0009AU) for $9,000.00.Transaction fee $0.00.",Buy,,-9000
02/05/2022,02/05/2022,Cash Management Account,,Direct Debit Deposit,Deposit,,150000
